{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Главная страница</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="col-xl-8 order-xl-1">
            <h1 class="display-2 text-black"> 
              Hello
            </h1>
            <p class="text-black mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            {% if user.is_authenticated %}
            <a href="{% url 'core:home' %}" class="btn btn-primary my-4">В личный кабинет</a>
            <a href="{% url 'users:logout' %}" class="btn btn-primary my-4">Выйти</a>
            {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-primary my-4">Войти</a>
            <a href="{% url 'users:register' %}" class="btn btn-primary my-4">Зарегистрироваться</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>

{% endblock javascripts %}
