{% extends 'home/index.html' %}

{% block page_header%}
    <h2>Судебное дело</h2>
{% endblock page_header%}

{% block content %}
    <p>Номер дела:
        {% if case.card %}
            <a href="{{ case.card }}" target="_blank">{{ case.number }}</a>
        {% else %}
            {{ case.number }}
        {% endif %}
    </p>
    <p>Суд: {{ case.court }}</p>
    <p>Апелляционный суд:
        {% if case.appeals_court %}
            {{ case.appeals_court }}
        {% endif %}
    <p>
        Истец: <a href="{% url 'core:plaintiff_detail' case.plaintiff.firm_id %}">{{ case.plaintiff }}</a>
    </p>
    <p>
        Ответчик: <a href="{% url 'core:defendant_detail' case.defendant.firm_id %}">{{ case.defendant }}</a>
    </p>
    <p>Цена иска: {{ case.overall_charge }}</p>
    <p>Госпошлина: {{ case.gp_charge }}</p>

    <p>
        <a href="{% url 'core:make_petition_view' case.case_id %}">Создать ходатайство</a>
    </p>
    <p>
        <a href="{% url 'core:edit_case' case.case_id %}">Редактировать дело</a>
    </p>
{% endblock content %}

