{% extends 'home/index.html' %}

{% load widget_tweaks %}

{% block page_header%}
    <h2>Судебное дело</h2>
{% endblock page_header%}

{% block content %}

    <!-- Breadcrumbs-->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{% url 'core:home' %}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'core:cases' %}">Дела</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ case }}</li>
                </ol>
                </nav>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">{{ case }}</h3>
                    </div>
                    <table class="table align-items-center table-flush">
                        <tbody class="list">
                            <tr>
                                <th>Статус дела</th>
                                <td>{{ case.get_status_display }}</td>
                            </tr>
                            <tr>
                                <th>Номер дела</th>
                                <td>
                                    {% if case.card %}
                                        <a href="{{ case.card }}" target="_blank">{{ case.number }}</a>
                                    {% else %}
                                        {{ case.number }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Цена иска</th>
                                <td>{{ case.claim_price }}</td>
                            </tr>
                            <tr>
                                <th>Госпошлина</th>
                                <td>{{ case.gp_charge }}</td>
                            </tr>
                            <tr>
                                <th>Суд</th>
                                <td>{{ case.court }}</td>
                            </tr>
                            <tr>
                                <th>Апелляционный суд</th>
                                <td>
                                    {% if case.appeals_court %}
                                        {{ case.appeals_court }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Истец</th>
                                <td>
                                    <a href="{% url 'core:plaintiff_detail' case.plaintiff.firm_id %}">{{ case.plaintiff }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Ответчик</th>
                                <td>
                                    <a href="{% url 'core:defendant_detail' case.defendant.firm_id %}">{{ case.defendant }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-header">
                        <a href="{% url 'core:edit_case' case.case_id %}" class="btn btn-sm btn-primary">Редактировать дело</a>
                    </div>
                </div>
                
            </div>
            <div class="col">
                <div class="card">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                        <form method="POST" action="{% url 'core:make_petition_view' case.case_id %}">
                            {% csrf_token %}
                            <div class="card-header border-0">
                                <label class="form-control-label">
                                    <h3 class="mb-0">{{ form.documents.label }}</h3>
                                </label>
                            </div>
                            {{ form.documents }}
                            <div class="border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <button type="submit" class="btn btn-sm btn-primary">Создать документ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>      

{% endblock content %}
