{% extends 'home/index.html' %}

{% block page_header%}
    <h2>Ответчик</h2>
{% endblock page_header%}

{% block content %}
    <table class="table align-items-center table-flush">
        <tbody class="list">
            <tr>
                <th>Полное наименование</th>
                <td>{{ defendant.full_name }}</td>
            </tr>
            <tr>
                <th>Краткое наименование</th>
                <td>{{ defendant.short_name }}</td>
            </tr>
            <tr>
                <th>ОГРН</th>
                <td>{{ defendant.ogrn }}</td>
            </tr>
            <tr>
                <th>ИНН</th>
                <td>{{ defendant.inn }}</td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>{{ defendant.address }}</td>
            </tr>
        </tbody>
    </table>

{% endblock content %}
